<resultMap type="com.github.dzhai.model.User" id="UserAndItemsResultMap">
	    <!-- 用户信息 -->
	    <id column="user_id" property="id"/>
	    <result column="username" property="username"/>
	    <result column="sex" property="sex"/>
	    <result column="address" property="address"/>
	    <!-- 订单信息 -->
	    <!-- 一个用户对应多个订单，使用collection -->
	    <collection property="ordersList" ofType="com.github.dzhai.model.Orders">
	        <id column="id" property="id"/>
	        <result column="user_id" property="userId"/>
	        <result column="number" property="number"/>
	        <result column="createtime" property="createtime"/>
	        <result column="note" property="note"/>
	        <!-- 订单明细信息 -->
	        <!-- 一个订单包括多个明细，使用collection -->
	        <collection property="orderdetails" ofType="com.github.dzhai.model.OrderDetail">
	            <id column="orderdetail_id" property="id"/>
	            <result column="items_id" property="itemsId"/>
	            <result column="items_num" property="itemsNum"/>
	            <result column="orders_id" property="ordersId"/>
	            <!-- 商品信息 -->
	            <!-- 一个明细对应一个商品信息，使用association -->
	            <association property="items" javaType="com.github.dzhai.model.Items">
	                <id column="items_id" property="id"/>
	                <result column="items_name" property="name"/>
	                <result column="items_detail" property="detail"/>
	                <result column="items_price" property="price"/>
	            </association>
	        </collection>
	    </collection>
	</resultMap>
	
	<select id="findUserAndItemsResultMap" resultMap="UserAndItemsResultMap">
	   SELECT 
		  o.*,
		  u.username,
		  u.sex,
		  u.address,
		  od.id orderdetail_id,
		  od.items_id,
		  od.items_num,
		  od.orders_id,
		  i.name items_name,
		  i.detail items_detail,
		  i.price items_price 
		FROM
		  orders o,
		  USER u,
		  orderdetail od,
		  items i 
		WHERE o.user_id = u.id 
		  AND o.id = od.orders_id 
		  AND od.items_id = i.id 
	</select>